div.hengrown-main-page::before {
    content: ' ';
    height: calc(100vh - 66px);
    width: 80px;
}

div.hengrown-sidebar-col {
    margin: 0;
    padding: 0;
}

div.hengrown-main-content {
    background-color: #f8f8f8;
}

div.hengrown-main-content {
    padding: 32px;
    height: calc(100vh - 66px);
    overflow-y: auto;
}

div.hengrown-main-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin: 6px 0px;
}

div.hengrown-alert {
    background: rgba(5, 144, 51, 0.05);
    border-radius: 5px;
    border: none;

    padding: 15px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

div.hengrown-greenhouse-empty {
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
}

div.hengrown-greenhouse-empty .hengrown-placeholder {
    flex-direction: column;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    text-align: center;
    max-width: 500px;
}

div.hengrown-greenhouse-empty .hengrown-placeholder img {
    width: 278px;
    height: 278px;
    margin: 72px 0 24px 0;
}

div.hengrown-greenhouse-empty .hengrown-placeholder h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    text-align: center;

}

div.hengrown-greenhouse-empty .hengrown-placeholder p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

div.hengrown-greenhouse-empty .hengrown-placeholder .hengrown-button {
    width: 360px;
}

@media (max-width: 850px) {
    div.hengrown-sidebar-col {
        position: absolute;
    }
    div.hengrown-main-content {
        position: relative;
        max-width: calc(100% - 80px);
        height: 100vh;
        padding-right: 0;
    }
    div.hengrown-main-content h1 {
        font-size: 20px;
    }
}