.vefs-milestone-wrapper {
    padding-top: 65px;
    padding-right: 0px;
}

.vefs-milestone-wrapper .milestone-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50px;
}

.vefs-milestone-wrapper .milestone-container .chart-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1 50%;
}

.vefs-milestone-wrapper .milestone-container .chart-container .line-container {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 17.5px;
    top: 30px;
}

.vefs-milestone-wrapper .milestone-container .chart-container .line-container .line {
    align-self: center;
    position: absolute;
    top: 8.75px;
    transform: translateY(-50%);
    order: 1;
    width: 100%;
    height: 17.5px;
    background: linear-gradient(90deg, rgba(5, 144, 51, 0.35) 0%, #059033 100%);
}

.vefs-milestone-wrapper .milestone-container .chart-container .line-container .line.left {
    order: 0;
    height: 17.5px;
    width: 100%;
    background: none;
    background-color: #0001;
}

.vefs-milestone-wrapper .milestone-container .chart-container .dot-container {
    position: absolute;
    height: 17.5px;
    width: 100%;
    top: 30px;
}

.vefs-milestone-wrapper .milestone-container .chart-container .dot-container .dot {
    position: absolute;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 2px solid #059033;
    transform: translateX(-50%);
    transition: all 0.25s ease-out;
}

.vefs-milestone-wrapper .milestone-container .chart-container .dot-container .dot.completed {
    background: linear-gradient(90deg, #059033 -5.56%, #02531D 100%);
}

.vefs-milestone-wrapper .milestone-container .label-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-top: -10px;
}

.vefs-milestone-wrapper .milestone-container .label-container .label {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.vefs-milestone-wrapper .milestone-container .label-container .milestones:first-child .label {
    transform: translateX(50%);
    text-align: left;
}

.vefs-milestone-wrapper .milestone-container .label-container .milestones:last-child .label {
    transform: translateX(-50%);
    text-align: right;
}

.vefs-milestone-wrapper .milestone-container .label-container .label.colored {
    color: #059033;
}

.vefs-milestone-wrapper .milestone-container .milestones {
    position: absolute;
    transform: translate(-50%, 0);
}

.vefs-milestone-wrapper .milestone-container .milestones .dot.colored {
    background: linear-gradient(90deg, #059033 -5.56%, #02531D 100%);
    border: 2px solid #FFFFFF;
    transition: all 0.25s ease-out;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__0 {
    left: 0%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__1 {
    left: 1%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__2 {
    left: 2%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__3 {
    left: 3%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__4 {
    left: 4%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__5 {
    left: 5%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__6 {
    left: 6%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__7 {
    left: 7%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__8 {
    left: 8%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__9 {
    left: 9%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__10 {
    left: 10%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__11 {
    left: 11%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__12 {
    left: 12%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__13 {
    left: 13%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__14 {
    left: 14%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__15 {
    left: 15%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__16 {
    left: 16%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__17 {
    left: 17%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__18 {
    left: 18%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__19 {
    left: 19%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__20 {
    left: 20%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__21 {
    left: 21%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__22 {
    left: 22%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__23 {
    left: 23%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__24 {
    left: 24%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__25 {
    left: 25%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__26 {
    left: 26%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__27 {
    left: 27%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__28 {
    left: 28%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__29 {
    left: 29%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__30 {
    left: 30%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__31 {
    left: 31%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__32 {
    left: 32%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__33 {
    left: 33%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__34 {
    left: 34%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__35 {
    left: 35%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__36 {
    left: 36%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__37 {
    left: 37%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__38 {
    left: 38%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__39 {
    left: 39%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__40 {
    left: 40%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__41 {
    left: 41%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__42 {
    left: 42%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__43 {
    left: 43%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__44 {
    left: 44%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__45 {
    left: 45%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__46 {
    left: 46%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__47 {
    left: 47%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__48 {
    left: 48%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__49 {
    left: 49%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__50 {
    left: 50%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__51 {
    left: 51%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__52 {
    left: 52%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__53 {
    left: 53%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__54 {
    left: 54%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__55 {
    left: 55%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__56 {
    left: 56%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__57 {
    left: 57%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__58 {
    left: 58%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__59 {
    left: 59%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__60 {
    left: 60%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__61 {
    left: 61%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__62 {
    left: 62%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__63 {
    left: 63%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__64 {
    left: 64%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__65 {
    left: 65%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__66 {
    left: 66%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__67 {
    left: 67%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__68 {
    left: 68%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__69 {
    left: 69%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__70 {
    left: 70%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__71 {
    left: 71%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__72 {
    left: 72%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__73 {
    left: 73%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__74 {
    left: 74%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__75 {
    left: 75%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__76 {
    left: 76%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__77 {
    left: 77%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__78 {
    left: 78%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__79 {
    left: 79%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__80 {
    left: 80%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__81 {
    left: 81%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__82 {
    left: 82%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__83 {
    left: 83%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__84 {
    left: 84%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__85 {
    left: 85%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__86 {
    left: 86%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__87 {
    left: 87%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__88 {
    left: 88%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__89 {
    left: 89%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__90 {
    left: 90%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__91 {
    left: 91%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__92 {
    left: 92%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__93 {
    left: 93%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__94 {
    left: 94%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__95 {
    left: 95%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__96 {
    left: 96%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__97 {
    left: 97%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__98 {
    left: 98%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__99 {
    left: 99%;
}

.vefs-milestone-wrapper .milestone-container .milestones.milestone__100 {
    left: 100%;
}

.line-container .pointer {
    transform: translateY(24px);
}

.line-container .pointer .pointer-arrow {
    position: absolute;
    display: block;
    width: 1rem!important;
    height: 1rem!important;
    top: -24px;
    left: calc(50% - 4px);
}

.line-container .pointer .pointer-arrow::before {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    top: 20px;
    border-width: 0 4px 4px 4px;
}

.line-container .pointer .pointer-arrow::after {
    top: 20px;
    border-width: 0 4px 4px 4px;
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-bottom-color: #059033;
    border-style: solid;
}

.line-container .pointer-content {
    background: #059033;
    border-radius: 27px;
    padding: 5px 10px;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

.label-container-2 {
    display: none;
}


@media (max-width: 1145px) {
    div.dot-container .dot {
        display: none;
    }
    
    div.dot-container .dot.current {
        display: block;
        z-index: 1024;
        width: 20px;
        height: 20px;
    }

    .label-container-2 {
        display: initial;
    }
    
    .label-container-2 p {
        font-size: 12px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.5);
    }

    .label-container-2 p.painted {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        color:#059033;
    }

    .vefs-milestone-wrapper {
        padding-top: 20px;
    }

    .vefs-milestone-wrapper .milestone-container .chart-container .line-container {
        border-radius: 9px;
    }
    
    .vefs-milestone-wrapper .milestone-container .chart-container .line-container .line {
        border-radius: 9px 0 0 9px;
    }
    
    .vefs-milestone-wrapper .milestone-container .chart-container .line-container .line.left {
        border-radius: 9px;
    }

    div.label-container {
        display: none!important;
    }

    .vefs-milestone-wrapper .milestone-container {
        margin-top: -30px;
    }
}